                     # Steps for successful simulation

=> Step 1: open LM35_PIC18_20X4LCD proteus project
=> Step 2: double click on the pic18F4450 Microcontroller, 
           go to the program file row and click the folder icon
=> Step 3: find and click on PIC18F4450.X.production.hex
=> Step 4: Finally its done! you may now run the simulation!

                     # Project description

=> This project is done using the following softwares
      * Proteus 8.10
      * MPLAB X IDE and XC8 compiler
